.col-left {
  margin-right: 1rem;
}

.speech-bubble2 {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: lightblue;
  border-radius: 10px;
}

.speech-bubble {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: hotpink;
  border-radius: 10px;
}

/* creates triangle */
.speech-bubble:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: hotpink transparent;
}

.speech-bubble2:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: lightblue transparent;
}

img {
  max-height: 100px;
}
